body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 400;
  #notices {
    text-align: center;
  }
  #content {
    min-height: 300px;
  }
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

